numpy==2.1.0
pandas
requests
matplotlib
ipykernel
jupyter
tensorflow
scikit-learn
seaborn
nltk
wordcloud
textblob
fastapi
uvicorn
chromadb
sentence-transformers
google-generativeai
python-dotenv
websockets